<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--configuration核心配置文件-->
<configuration>
    <!--引入外部配置文件-->
    <properties resource="db.properties"/>

    <!--给实体类设置别名-->
    <typeAliases>
        <!--单独设置每一个类名-->
        <!--<typeAlias type="com.why.start.mybatis.pojo.User" alias="User"/>-->
        <!--设置扫描整个类,可以通过设置类的注解（@Alies()）起别名，注解优先xml-->
        <package name="com.why.start.mybatis.pojo"/>
    </typeAliases>

    <!--可以配置多套环境，使用哪个就在<environments default="">中切换哪个-->
    <environments default="test">
        <environment id="development">
            <!--事务管理，除了JDBC还有个MANAGE（可以忽略这个，不用）-->
            <transactionManager type="JDBC"/>
            <!--数据源，UNPOOLED POOLED UNDI三种-->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis?useUnicode=true&amp;characterEncoding=UTF-8&amp;serverTimezone=UTC&amp;useSSL=true"/>
                <property name="username" value="root"/>
                <property name="password" value="wanghongyu"/>
            </dataSource>
        </environment>
        <environment id="test">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
<!--    每一个Mapper.xml都需要在Mybatis核心配置文件中注册-->
    <mappers>
<!--        mapper映射有3种方式，默认使用第一种-->
        <mapper resource="com/why/start/mybatis/mapper/UserMapper.xml"/>
<!--        <mapper class="com.why.start.mybatis.mapper.UserMapper"/>-->
<!--        <package name="com.why.start.mybatis.mapper"/>-->
    </mappers>
</configuration>