<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--1.配置命名空间，指向BookMapper.class-->
<mapper namespace="com.why.start.ssm.mapper.BookMapper">

    <resultMap id="BookMapper" type="com.why.start.ssm.pojo.Books"/>

    <sql id="key">
        bookID,bookName,bookCounts,detail
    </sql>

    <insert id="insertBook" parameterType="Books">
        insert into books (bookName,bookCounts,detail)
        values (#{bookName},#{bookCounts},#{detail})
    </insert>

    <delete id="delBookById" >
        delete from books
        where       bookID = #{bookID}
    </delete>

    <update id="updateBook" parameterType="Books">
        update  books
        set     bookName = #{bookName},
                bookCounts = #{bookCounts},
                detail = #{detail}
        where   bookID = #{bookID}
    </update>

    <select id="selectBookById" resultType="Books">
        select  <include refid="key"/>
        from    books
        where   bookID = #{bookID}
    </select>
    <select id="selectBookByName" resultType="Books">
        select  <include refid="key"/>
        from    books
        where   bookName = #{bookName}
    </select>

    <select id="queryAllBook" resultType="Books">
        select  <include refid="key"/>
        from    books
    </select>
</mapper>