<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace 绑定一个对应的mapper接口-->
<mapper namespace="com.why.start.mybatis.mapper.UserMapper">

<!--    结果集映射-->
    <resultMap id="UserMap" type="User">
        <!--column数据库中的字段，property实体类中的属性-->
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="pwd" property="passwrod" />
    </resultMap>

    <select id="getUserList" resultType="User">
    select * from user
  </select>

    <select id="getUserById" parameterType="int" resultMap="UserMap">
        select * from user where id = #{id}
    </select>

    <insert id="insertUser" parameterType="com.why.start.mybatis.pojo.User">
        insert into user(id,name,pwd) values (#{id},#{name},#{pwd})
    </insert>

    <update id="updateUser" parameterType="com.why.start.mybatis.pojo.User">
        update user set name=#{name},pwd=#{pwd} where id =#{id}
    </update>

    <delete id="deleteUser" parameterType="int" >
        delete from user where id = #{id}
    </delete>


</mapper>